opentelemetry-api==1.22.0
opentelemetry-sdk==1.22.0
opentelemetry-exporter-console==1.22.0
opentelemetry-exporter-otlp-proto-grpc==1.22.0
opentelemetry-instrumentation-flask==0.35b0
flask==2.2.5
requests==2.31.0
